<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <link rel="stylesheet" href="/css/rejected.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="logo">
            <h1>🚀 Moonii</h1>
            <p>Welcome To Moonii</p>
        </div>

        <div class="stopper">
            
                <h1>Seem likes you get in the wrong <rocket>🚀</rocket> </h1>
                <h7>You can't 🚀 to 🌕 without it...</h7><br>
                <button><a href="/register">GET YOUR OWN 🚀</a></button>
    


        </div>

    </body>

</html>