body{
    font-family: 'Roboto', sans-serif;
    color: rgb(117, 117, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    background-color: #4E4C4C;
}

.icon{
    border-radius: 180px;
    height: 80px;
    width: 80px;
    margin-right:10px;
    float: left;
}

.stockWrapper{
    display: flex;
    justify-content: space-evenly;
    background-color: #727272;
    align-items: center;
    margin: 20px;
    color: white;
    border: 2px solid rgb(44, 44, 44);
    width: 50vw;
    height: 10vw;
}

.stockWrapper > p {
    margin: 10px;
}

background{
    position: fixed;
    right: 0px;
    bottom: -30vh;
}

background:hover{
    opacity: 0.2;
    transition: 1s;
}